<!--
  Generated template for the TeamsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Teams</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addTeam()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-item>
    <ion-select [(ngModel)]="datafield" placeholder="Select One" (ionChange)="datafieldChanged()">
      <ion-option value="none" selected="true">No Filter</ion-option>
      <ion-option value="pitWeight">Robot Weight</ion-option>
      <ion-option value="pitRobotWidth">Robot Width</ion-option>
      <ion-option value="pitRobotLength">Robot Length</ion-option>
      <ion-option value="pitNumDriveTrainMotors">DT Num Motors </ion-option>
      <ion-option value="pitDriveTrainMotorType">DT Motor Type</ion-option>
      <ion-option value="pitWheelDiameter">Wheel Diameter</ion-option>
      <ion-option value="pitWheelType">Wheel Type</ion-option>
      <ion-option value="pitDrivetrain">Drive Train</ion-option>
      <ion-option value="pitProgrammingLanguage">Programming Language</ion-option>
      <ion-option value="pitIsPanelSpecialist">Is Panel Specialist</ion-option>
      <ion-option value="pitHasCamera">Has Camera</ion-option>
      <ion-option value="pitSEALsRampRanking">Ramp Ranking</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-select [(ngModel)]="val_search" placeholder="Select One" (ionChange)="valueChanged()">
       <ion-option *ngFor="let item of vals" [value]="item">{{item}}</ion-option>
    </ion-select>
  </ion-item>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let team of display_teams" (click)="goToInfoPage(team.teamNumber, team.name)">
      {{team.teamNumber}} - {{team.name}}
    </ion-item>
  </ion-list>
</ion-content>
